<!DOCTYPE html>
<html lang="en">
<head>
  <title>Serenity</title>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"> </script>

  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
      background-color: #42455a;
      border-color: #42455a;
    }

    .img-responsive-custom { 
      width: 300px;
      height: 170px;
    }

    #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #565970;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  }

  #myBtn:hover {
  background-color: #555;
  }

    .navbar :hover { 
        color: #9492FF !important;
    }

    .active-custom a {
      background-color: #42455a;
      color: #19dafa !important;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: pink;
      padding: 15px;
      height: 50px;
      padding-bottom: 25px;
    }
  </style>
</head>
<body style="background-color: #42455a"></bodystyle>

<!-- <div class="jumbotron">
  <div class="container text-center">
    <h1>Online Store</h1>      
    <p>Mission, Vission & Values</p>
  </div>
</div> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#"><img src="moon.png"></a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav">
          <li><a href="/"><img src="/images/moon.png" alt="N/A" width="25px" height="25px"></a></li>
            <li><a href="/">Home</a></li>
            <li><a href= "/meditation">Meditation</a></li>
            <li class="active-custom"> <a href="/music">Calming Music</a></li>
            <li><a href="/moodcheck">Mood Check</a></li>
            <li><a href= "/yoga">Yoga</a></li>
        </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #9492FF;"></div>
        <div class="embed-responsive embed-responsive-16by9">
          <!-- <img src="animals-theme-template-vector-illustration_53876-56693.jpg" class="img-responsive-custom" style="width:100%" alt="Image"> -->
          <iframe width="1020" height="315" src="https://www.youtube.com/embed/OTJXAUZY9t0?modestbranding=1" allowfullscreen></iframe>
        </div>
        <div class="panel-footer" style="text-align: center; font-weight: bold; font-size: 20px;">Animals</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading" style="background-color: #9492FF;"></div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="1020" height="315" src="https://www.youtube.com/embed/V1RPi2MYptM?modestbranding=1" allowfullscreen></iframe>
        </div>

        <div class="panel-footer" style="text-align: center; font-weight: bold; font-size: 20px;">Waterfall</div>
      </div>
    </div>
    <div class="col-sm-4"> 
  
      <div class="panel panel-success">
        <div class="panel-heading" style="background-color: #9492FF;"></div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="1020" height="315" src="https://www.youtube.com/embed/kA8cOG2cRzE?modestbranding=1" allowfullscreen></iframe>
        </div>

        <div class="panel-footer" style="text-align: center; font-weight: bold; font-size: 20px;">Birds</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
  
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #9492FF;"></div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="1020" height="315" src="https://www.youtube.com/embed/lE6RYpe9IT0?modestbranding=1" allowfullscreen></iframe>
        </div>

        <div class="panel-footer" style="text-align: center; font-weight: bold; font-size: 20px;">River</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #9492FF;"></div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="1020" height="315" src="https://www.youtube.com/embed/BTYAsjAVa3I?modestbranding=1" allowfullscreen></iframe>
        </div>

        <div class="panel-footer" style="text-align: center; font-weight: bold; font-size: 20px;">Lofi</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #9492FF;"></div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="1020" height="315" src="https://www.youtube.com/embed/gON4nq06nMs?modestbranding=1" allowfullscreen></iframe>
        </div>

        <div class="panel-footer" style="text-align: center; font-weight: bold; font-size: 20px;">Abstract</div>
      </div>
    </div>
  </div>
</div><br>


<div class="container">    
  <div class="row">
    <div class="col-sm-4">
  
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #9492FF;"></div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="1020" height="315" src="https://www.youtube.com/embed/5iUunn9R9Ko?modestbranding=1" allowfullscreen></iframe>
        </div>

        <div class="panel-footer" style="text-align: center; font-weight: bold; font-size: 20px;">Sunset</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #9492FF;"></div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="1020" height="315" src="https://www.youtube.com/embed/mfLMpuhauZ0?modestbranding=1" allowfullscreen></iframe>
        </div>

        <div class="panel-footer" style="text-align: center; font-weight: bold; font-size: 20px;">Stars</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #9492FF;"></div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="1020" height="315" src="https://www.youtube.com/embed/nDq6TstdEi8?modestbranding=1" allowfullscreen></iframe>
        </div>

        <div class="panel-footer" style="text-align: center; font-weight: bold; font-size: 20px;">Thunder</div>
      </div>
    </div>
  </div>
</div><br>


<div class="container">    
  <div class="row">
    <div class="col-sm-4">
  
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #9492FF;"></div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="1020" height="315" src="https://www.youtube.com/embed/WPni755-Krg?modestbranding=1" allowfullscreen></iframe>
        </div>

        <div class="panel-footer" style="text-align: center; font-weight: bold; font-size: 20px;">Brain Power</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #9492FF;"></div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="1020" height="315" src="https://www.youtube.com/embed/meYsDqkMENs?modestbranding=1" allowfullscreen></iframe>
        </div>

        <div class="panel-footer" style="text-align: center; font-weight: bold; font-size: 20px;">Memory</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #9492FF;"></div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="1020" height="315" src="https://www.youtube.com/embed/4GnVDPD01as?modestbranding=1" allowfullscreen></iframe>
        </div>

        <div class="panel-footer" style="text-align: center; font-weight: bold; font-size: 20px;">Concentration</div>
      </div>
    </div>
  </div>
</div><br>

<!--Scroll To Top Button-->
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
//Get the button
var mybutton = document.getElementById("myBtn");
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

<br><br>

<footer class="container-fluid text-center">
  <p> © Copyright 2020 Symphony Engineers, All Rights Reserved.</p>  
</footer>

</body>
</html>