.navbar :hover { 
  color: #9492FF !important;
}

.navbar {
margin-bottom: 50px;
border-radius: 0;
background-color: #42455a;
border-color: #42455a;
}


.active-custom {
  background-color: #42455a;
  color: white;
}

.active-custom a{
  color: #19dafa !important;
}

/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
margin-bottom: 0;
}

.header1{
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header1 h1{
  color:white;
  margin:0;
}

.header2{
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header2 h1{
  color:white;
  margin:0;
}

.link-btn{
  height: 28em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add a gray background color and some padding to the footer */

footer {
background-color: pink;
padding: 15px;
height: 50px;
padding-bottom: 25px;
}