.navbar :hover { 
    color: #9492FF !important;
}

.navbar {
  margin-bottom: 50px;
  border-radius: 0;
  background-color: #42455a;
  border-color: #42455a;
}


.active-custom {
    background-color: #42455a;
    color: white;
}

.active-custom a{
    color: #19dafa !important;
}

/* Remove the jumbotron's default bottom margin */ 
 .jumbotron {
  margin-bottom: 0;
}

.header{
    color:white;
}
.headerText{
    width: 50%;
    float: left;
}

.headerText p{
    color: #919191;
}


.mtnPicture{
    width: 50%;
    float: right;
}
.mtnPicture img{
    width: 100%;
    height:100%;
    float:right;
}


small{
    cursor: pointer;
    color: #19dafa;
    letter-spacing: 3px;
}
/* Add a gray background color and some padding to the footer */

footer {
  background-color: pink;
  padding: 15px;
  height: 50px;
  padding-bottom: 25px;
}