*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.mainContainer{
    width: 100%;
    height: 100%;
    background: #42455a;
}
.topMenu ul{
    display: inline-flex;
    margin: 50px;
}
.topMenu ul li{
    list-style: none;
    margin: 0 25px;
    color: #d4d2d1;
    cursor: pointer;
}

.topMenu ul li a{
    text-decoration: none;
    color: #d4d2d1;
}

.topMenu ul li a:hover{
    color: #9492FF;
}


.logo img{
    width: 25px;
    margin-top: -5px;
    margin-right: 30px;
}
.active a{
    color:  #19d7f8 !important;
}
.signup-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.signup-btn span{
    display: block;
    padding: 8px 22px;
}
.banner{

    text-decoration: none;
    display: inline-flex;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;

    width: 90%;
    height: 70%;
    top: 25%;
    left: 5%;
    position: absolute;
    color:white;
}
.page-text{
    width: 50%;
    float: left;
}
.page-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}
.page-text p{
    font-size: 20px;
    width: 640px;
    position: relative;
    margin: 40px;
    color: #d4d2d1;
}

.tilesContainer{
    width: 100%;
    height: 1500px;
    background: #42455a;
}
.flex-container {
    display: flex;
    height: 1500px;
    margin-left: 5%;
    flex-wrap: wrap;
    align-content: stretch;
    background-color: #42455a;
  }
  
.flex-container > div {
    background-color: #f1f1f1;
    width: 30%;
    margin: 10px;
    border-radius: 45px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
  }